* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  line-height: 1.45;
  font-weight: 400;
  letter-spacing: normal;
  background-color: #f8f8f8;
}

.title-section {
  margin-bottom: 40px;
  height: 100px;
}

.title-text {
  width: 90%;
  background: -webkit-linear-gradient(rgb(240, 240, 240), rgb(18, 17, 17));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  padding-bottom: 20px;
}

.title-text h1 {
  color: black;
  font-size: 50px;
}

.video-row {
  display: flex;
  justify-content: center;
}

.video-section {
  width: 100%;
  max-height: fit-content;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.s1-productImg {
  width: 50rem;
}

.video-col {
  align-items: center;
  width: 50%;
  justify-content: space-around;

  padding: 5%;
  margin: 10px;
  justify-content: center;
  background-color: #fff;
}

.video-col p {
  color: black;
  font-weight: 600;
  font-size: 16px;
}

.s1-item-row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.item-col {
  flex-basis: 25%;
  /* background-image: url(/images/productImg.png); */
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}

.s1-itemImg {
  width: 100px;
}

@media (max-width: 700px) {
  .title-text h1 {
    color: black;
    font-size: 25px;
  }

  .s1-productImg {
    width: 60%;
  }

  .s1-itemImg {
    width: 50%;
  }

  .video-col {
    align-items: center;
    display: inline-block;
  }

  .video-row {
    flex-direction: column;
    align-items: center;
  }
  .s1-item-row {
    flex-direction: column;
  }
}
